# Ignore node_modules in both frontend and backend
/web/frontend/node_modules/
/web/backend/node_modules/

# Build output
/dist/
/build/

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# IDE and editor settings
.idea/
.vscode/

# Environment and sensitive files
.env
.env.*
*.env
web/backend/.env

DesktopApp.zip
h